* {
    margin: 0;
    padding: 0;
  }
  

  body, html, .navbar, .header__nav {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #1b3151, #00455e, #005759, #216546, #5d6f34);
    background-repeat: no-repeat;
    background-size: cover;
   


  }
   .navbar-expand-lg {
    padding-right: 0;
    padding-left: 0;
  }

  .header__nav {
    background-image: linear-gradient(to right top, #592a2a, #442124, #2f191c, #1c1012, #000000);
  }


li { 
    font-family: 'Montserrat', sans-serif;
}
.logo {
    width: 120px;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .section__div {
    background-color: rgb(36, 36, 228);
    border-radius: 10px;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .section__div:hover {
    transform: scale(1.1);
  }
  .section__switch {
    background-color: rgb(161, 55, 55);
    border-radius: 10px;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .section__switch:hover {
    transform: scale(1.1);
  }

  .ps5, .nintendo, .xbox {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }


  .section__xbox {
    background-color: rgb(22, 155, 44);
    border-radius: 10px;
    flex: 1;
    padding: 10px;
  }

  .section__xbox:hover {
    transform: scale(1.1);
  }
  .xbox {
    margin-left: auto;
    margin-right: auto;
  }
  
.section__div2 {
  background-color: brown;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.crash {
  width: 150px;
}

.div__h1 {
  font-size: 25px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.article__h2 {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 35px;
}


.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 18rem;
  height: 24rem;
   background-color: rgb(211, 204, 204);
   color: rgb(0, 0, 0);
   -webkit-box-shadow: 0px 0px 17px 0px rgb(7, 6, 6);
   -moz-box-shadow: 0px 0px 17px 0px rgb(8, 7, 7);
   box-shadow: 0px 0px 17px 0px rgb(12, 10, 10);
   padding: 10px;
   gap: 32px;
   margin-top: 20px;
   margin-bottom: 20px;
   
  
}

@media (min-width: 1024px) {
  .card1 {
    margin-left: 90px;
  }
}


.switch {
  width: 70%;
}
.button {
  border: px black;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  font-weight: 700;
  background-color: #08688b;
}

.button:hover {
  transform: scale(1.1);
}


hr {
  margin-top: 20px;
  margin-bottom: 20px;

}

.div__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
}

@media (min-width: 1024px) {
  .div__row {
    display: flex;
    flex-direction: row;
  gap: 136px;
  }
}


.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 18rem;
  height: 24rem;
   background-color: rgb(211, 204, 204);
   color: rgb(0, 0, 0);
   -webkit-box-shadow: 0px 0px 17px 0px rgb(7, 6, 6);
   -moz-box-shadow: 0px 0px 17px 0px rgb(8, 7, 7);
   box-shadow: 0px 0px 17px 0px rgb(12, 10, 10);
   padding: 10px;
   gap: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
  
}
.card3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 18rem;
  height: 24rem;
   background-color: rgb(211, 204, 204);
   color: rgb(0, 0, 0);
   -webkit-box-shadow: 0px 0px 17px 0px rgb(7, 6, 6);
   -moz-box-shadow: 0px 0px 17px 0px rgb(8, 7, 7);
   box-shadow: 0px 0px 17px 0px rgb(12, 10, 10);
   padding: 10px;
   gap: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
  
}

.mw2 {
  width: 45%;
  margin-top: 20px;
}
.gtav {
  width: 45%;
  margin-top: 20px;
}


